* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.app {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px 15px 15px 15px;
  border: 2px solid teal;
  margin: 15px 0px 0px 0px;
  justify-content: space-between;
  align-items: center;
}

/* CSSTransition */
.postanim-enter {
  transform: translateX(-350px);
}
.postanim-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.postanim-exit {
  opacity: 1;
}
.postanim-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
